@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 230, 230, 240;
  --background-rgb: 26, 26, 46;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 230, 230, 240;
    --background-rgb: 26, 26, 46;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
